@import '../../styles/variables.scss';

.input {
  color: $white1;
  width: 90px;
  height: 90px;
  text-align: center;
  background: transparentize($black1, 0.8);
  border:  1px solid $transBlack1;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px 10px 10px;
}