.text-box {
  background: rgba(75, 40, 27, 0.7);
  border: 2px solid #a65530;
  margin-bottom: 40px;
  padding: 20px;
  color: #fff;
  .box-title {
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
  }
}