$grey1: #a9a9a9;

$white1: #fff;
$white2: #ececee;

$black1: #000;

$brown0: #3d2116;
$brown1: #4f2b1c;
$brown2: #995236;
$brown3: #a65530;
$brown4: #b5917b;

$blue1: #0058c4;

$red1: #b41f2c;

$green1: #3b9332;

$transBrown1: rgba(75, 40, 27, 0.7);

$transBlack1: rgba($black1, 0.5);
$transBlack2: rgba($black1, 0.6);
