@import '../../styles/variables.scss';

.guestDetails {
  margin: 0 auto;
  width: 320px;
  padding-bottom: 60px;

  img {
    margin-bottom: 10px;
    width: 60%;
    height: 120px;
    margin-left: 20%;
    image-orientation: flip;
  }

  .guestName {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }
}