@import '../../styles/variables.scss';

.glass {
  width: 160px;
  height: 250px;
  margin: 35px auto 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/glass.png');
}