@import '../../styles/variables.scss';

.glassContainer {
  width: 160px;
  height: 207px;
  margin: 35px auto 35px auto;
  position: relative;

  .glass {
    width: 160px;
    height: 207px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../images/glass.png');
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  .liquid {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 120px;
  }

  .alcohol {
    z-index: 1;
    height: 80%;
  }

  .softDrink {
    z-index: 2;
    height: 80%;
  }

  .syrup {
    z-index: 3;
    height: 90px;
  }

  .flame {
    position: absolute;
    width: 160px;
    height: 100%;
    right: 2px;
    bottom: 65px;
    background-image: url("../../images/flame.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .olives {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 8px;
    bottom: 27px;
    background-image: url("../../images/olives.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
    opacity: 0.6;
  }

  .lime {
    position: absolute;
    background-image: url("../../images/lime.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    left: 118px;
    bottom: 167px;
    z-index: 0;
  }

}

.summaryContainer {
  .stepButton {
    color: $white1;
    text-decoration: none;
    line-height: 54px;
    font-weight: 600;
    font-size: 16px;
    outline: 0;
    width: 256px;
    box-sizing: border-box;
    height: 54px;
    background: $brown4;
    text-align: center;
    margin-bottom: 46px;
    margin-left: 10%;
    border-left: 40px solid $transBlack1;
    border-right: 40px solid $transBlack1;
    transition: border-left 0.5s ease-out, border-right 0.5s ease-out ;
    &:hover {
      border-left: 5px solid rgba(0,0,0,0.5);
      border-right: 5px solid rgba(0,0,0,0.5);
      transition: border-left 0.5s ease-out, border-right 0.5s ease-out ;
    }
  }
}