@import '../../styles/variables.scss';

h2 {
  letter-spacing: 1px;
  margin: 0;
  color: $white1;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}