@import '../../styles/variables.scss';

.buttonContainer {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 10px;
  .label {
    color: $white1;
    font-size: 12px;
    font-weight: bold;
  };
  .proportionButton {
    display: block;
    color: $white1;
    background: $transBlack1;
    border: 1px solid $transBlack1;
    width: 70px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
}