@import '../../styles/variables.scss';

img {
  width: 120px;
  height: 100px;
  outline: 0;
  background: $transBlack2;
  text-align: center;
  color: $transBlack1;
  text-decoration: none;
  box-sizing: border-box;
}

.guestName {
  height: 20px;
  color: $white1;
  background: $transBlack2;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 5px;
}