@import '../../styles/variables.scss';

.commentary {
  color: $white1;
  width: 65%;
  padding: 20px;
  background: $transBlack1;
  border: 3px solid $brown0;
  margin: 10px auto 40px auto;

  .comments {
    font-style: italic;
  }
}
