@import '../../styles/variables.scss';

.decorationsContainer {

  .checkbox[type=checkbox] {
    visibility: hidden;
    position: absolute;
  }

  .checkbox[type=checkbox]:checked + .label {
    .labelHolder {
      .labelText {
        color: $green1;
        font-weight: bold;
      }
      .icon {
        background-image: url('http://res.cloudinary.com/doethe/image/upload/v1513440948/checkedCheckbox_o9kmom.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .labelHolder {
    height: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: $transBlack2;
    cursor: pointer;
    margin-bottom: 15px;
    box-sizing: border-box;

    .labelText {
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      color: $white2;
      line-height: 30px;
      position: absolute;
    }

    .icon {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 5px;
      background-image: url('http://res.cloudinary.com/doethe/image/upload/v1513440948/emptyCheckbox_yrw3tu.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:hover {
      background: $transBlack1;
    }
  }

  .buttons {
    margin-top: 24px;
    width: 80%;
    margin-left: 10%;
    display: inline-block;

    .back {
      float: left;
    }

    .proceed {
      float: right;
    }
  }
}

