@import '../../styles/variables.scss';

.gameHeader {
  width: 100%;
  min-width: 320px;
  height: 40px;
  text-align: center;
  background: $brown0;
  color: white;
  box-sizing: border-box;

  h1 {
    line-height: 40px;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 18px;
  }
}