.gameHeader {
  width: 100%;
  min-width: 320px;
  height: 20vh;
  text-align: center;
  background: cornflowerblue;
  box-sizing: border-box;
    h1 {
      line-height: 20vh;
      margin: 0 auto;
      padding: 0 auto;
      font-size: 20px;
    }
}